<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="compositionMode" type="xstring" value="MATCH_ALL"/>
        <config key="matchingCriteria">
            <config key="0">
                <config key="leftTableColumnV2">
                    <entry key="regularChoice" type="xstring" isnull="true" value=""/>
                    <entry key="specialChoice_Internals" type="xstring" value="ROW_ID"/>
                </config>
                <config key="rightTableColumnV2">
                    <entry key="regularChoice" type="xstring" isnull="true" value=""/>
                    <entry key="specialChoice_Internals" type="xstring" value="ROW_ID"/>
                </config>
            </config>
        </config>
        <entry key="dataCellComparisonMode" type="xstring" value="STRICT"/>
        <entry key="includeMatchesInOutput" type="xboolean" value="true"/>
        <entry key="includeLeftUnmatchedInOutput" type="xboolean" value="false"/>
        <entry key="includeRightUnmatchedInOutput" type="xboolean" value="false"/>
        <config key="leftColumnSelectionConfigV2">
            <entry key="mode" type="xstring" value="MANUAL"/>
            <config key="patternFilter">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="isCaseSensitive" type="xboolean" value="false"/>
                <entry key="isInverted" type="xboolean" value="false"/>
            </config>
            <config key="manualFilter">
                <config key="manuallySelected">
                    <entry key="array-size" type="xint" value="17"/>
                    <entry key="0" type="xstring" value="Gender"/>
                    <entry key="1" type="xstring" value="Age"/>
                    <entry key="2" type="xstring" value="Height"/>
                    <entry key="3" type="xstring" value="Weight"/>
                    <entry key="4" type="xstring" value="family_history_with_overweight"/>
                    <entry key="5" type="xstring" value="FAVC"/>
                    <entry key="6" type="xstring" value="FCVC"/>
                    <entry key="7" type="xstring" value="NCP"/>
                    <entry key="8" type="xstring" value="CAEC"/>
                    <entry key="9" type="xstring" value="SMOKE"/>
                    <entry key="10" type="xstring" value="CH2O"/>
                    <entry key="11" type="xstring" value="SCC"/>
                    <entry key="12" type="xstring" value="FAF"/>
                    <entry key="13" type="xstring" value="TUE"/>
                    <entry key="14" type="xstring" value="CALC"/>
                    <entry key="15" type="xstring" value="MTRANS"/>
                    <entry key="16" type="xstring" value="NObeyesdad"/>
                </config>
                <config key="manuallyDeselected">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
                <entry key="includeUnknownColumns" type="xboolean" value="true"/>
            </config>
            <config key="typeFilter">
                <config key="selectedTypes">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
            </config>
        </config>
        <config key="rightColumnSelectionConfigV2">
            <entry key="mode" type="xstring" value="MANUAL"/>
            <config key="patternFilter">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="isCaseSensitive" type="xboolean" value="false"/>
                <entry key="isInverted" type="xboolean" value="false"/>
            </config>
            <config key="manualFilter">
                <config key="manuallySelected">
                    <entry key="array-size" type="xint" value="1"/>
                    <entry key="0" type="xstring" value="Cluster"/>
                </config>
                <config key="manuallyDeselected">
                    <entry key="array-size" type="xint" value="38"/>
                    <entry key="0" type="xstring" value="Age"/>
                    <entry key="1" type="xstring" value="Height"/>
                    <entry key="2" type="xstring" value="Weight"/>
                    <entry key="3" type="xstring" value="FCVC"/>
                    <entry key="4" type="xstring" value="NCP"/>
                    <entry key="5" type="xstring" value="CH2O"/>
                    <entry key="6" type="xstring" value="FAF"/>
                    <entry key="7" type="xstring" value="TUE"/>
                    <entry key="8" type="xstring" value="Female_Gender"/>
                    <entry key="9" type="xstring" value="Male_Gender"/>
                    <entry key="10" type="xstring" value="yes_family_history_with_overweight"/>
                    <entry key="11" type="xstring" value="no_family_history_with_overweight"/>
                    <entry key="12" type="xstring" value="no_FAVC"/>
                    <entry key="13" type="xstring" value="yes_FAVC"/>
                    <entry key="14" type="xstring" value="Sometimes_CAEC"/>
                    <entry key="15" type="xstring" value="Frequently_CAEC"/>
                    <entry key="16" type="xstring" value="Always_CAEC"/>
                    <entry key="17" type="xstring" value="no_CAEC"/>
                    <entry key="18" type="xstring" value="no_SMOKE"/>
                    <entry key="19" type="xstring" value="yes_SMOKE"/>
                    <entry key="20" type="xstring" value="no_SCC"/>
                    <entry key="21" type="xstring" value="yes_SCC"/>
                    <entry key="22" type="xstring" value="no_CALC"/>
                    <entry key="23" type="xstring" value="Sometimes_CALC"/>
                    <entry key="24" type="xstring" value="Frequently_CALC"/>
                    <entry key="25" type="xstring" value="Always_CALC"/>
                    <entry key="26" type="xstring" value="Public_Transportation_MTRANS"/>
                    <entry key="27" type="xstring" value="Walking_MTRANS"/>
                    <entry key="28" type="xstring" value="Automobile_MTRANS"/>
                    <entry key="29" type="xstring" value="Motorbike_MTRANS"/>
                    <entry key="30" type="xstring" value="Bike_MTRANS"/>
                    <entry key="31" type="xstring" value="Normal_Weight_NObeyesdad"/>
                    <entry key="32" type="xstring" value="Overweight_Level_I_NObeyesdad"/>
                    <entry key="33" type="xstring" value="Overweight_Level_II_NObeyesdad"/>
                    <entry key="34" type="xstring" value="Obesity_Type_I_NObeyesdad"/>
                    <entry key="35" type="xstring" value="Insufficient_Weight_NObeyesdad"/>
                    <entry key="36" type="xstring" value="Obesity_Type_II_NObeyesdad"/>
                    <entry key="37" type="xstring" value="Obesity_Type_III_NObeyesdad"/>
                </config>
                <entry key="includeUnknownColumns" type="xboolean" value="false"/>
            </config>
            <config key="typeFilter">
                <config key="selectedTypes">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
            </config>
        </config>
        <entry key="mergeJoinColumns" type="xboolean" value="false"/>
        <entry key="duplicateHandling" type="xstring" value="APPEND_SUFFIX"/>
        <entry key="suffix" type="xstring" value=" (Right)"/>
        <entry key="outputUnmatchedRowsToSeparatePorts" type="xboolean" value="false"/>
        <entry key="rowKeyFactory" type="xstring" value="CONCATENATE"/>
        <entry key="rowKeySeparator" type="xstring" value="_"/>
        <entry key="outputRowOrder" type="xstring" value="ARBITRARY"/>
        <entry key="maxOpenFiles" type="xint" value="200"/>
        <entry key="enableHiliting" type="xboolean" value="false"/>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.joiner3.Joiner3NodeFactory"/>
    <entry key="node-name" type="xstring" value="Joiner"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.11.0.v202602201626"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.11.0.v202602211509"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Joiner"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 2111, Cols: 18"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObject"/>
            <entry key="port_object_summary" type="xstring" value="Inactive Port Object"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
        <config key="port_3">
            <entry key="index" type="xint" value="3"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObject"/>
            <entry key="port_object_summary" type="xstring" value="Inactive Port Object"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_3"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="980406c6-5687-4c31-ac31-b63146c5a674"/>
    </config>
</config>
